* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: #112d49;
  font-size: 20px;
}
header {
  background-color: lightgray;
  height: 50px;
}
nav {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav > a {
  text-decoration: none;
  color: black;
  padding: 0 30px;
}
.about_us {
  display: flex;
}
.mem {
  margin-right: 55px;
}
.info {
  text-align: start;
}
.name {
  font-size: 25px;
}
.info-p {
  margin: 25px 0;
}

img {
  width: 300px;
  height: 300px;
}
.container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

input {
  margin: 15px;
  padding: 10px;
}
h1 {
  margin-top: 50px;
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 40px;
}
.projects {
  font-size: 40px;
  margin-top: 45px;
}
.my_game {
  margin-top: 100px;
}
input,
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(240, 240, 155);
}
input {
  width: 45%;
  height: 30px;
  font-size: 1.3rem;
}
button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.5rem;
}
.choosed_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choosed_block-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 650px;
}
.choosed_block-container > div {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
.choosed_element {
  border: 2px dotted red;
}

.posts_block-container p {
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
}
footer {
  margin-top: 65px;
}
